.site-info {
    font-family: 'Exo-Light', sans-serif;
    line-height: 1;
    @include desktop {
        position: relative;
        float: right;
    }
    nav.main-navigation {
        padding-bottom: 1.25rem;
        @include tablet {
            width: 298px;
        }
        li {
            padding: 0 1rem;
            border-right: $border__solid;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                border: none;
                @include tablet {
                    border-right: $border__solid; 
                }
            }
        }
    }
    p.string-span {
        @include tablet {
        padding-left: 313px;
        }
        @include desktop {
            margin-top: 0;
        }
    }
    a.link-span {
        text-decoration: none;
    }
}