/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Home Page */

.entry-content p, .entry-meta h2 {
    font-family: 'Exo-Light', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}
.entry-content p {
    padding-top: 41px;
    padding-bottom: 24px;
    @include tablet {
        font-size: 1.75rem;
    }
    @include desktop {
        font-size: 2.5rem;
        padding-top: 0;
    }
}

.entry-meta {
    flex-wrap: wrap;
    padding-bottom: 3rem;
    h2 {
        display: inline;
    }
    span.source {
        font-family: 'Exo-LightItalic', sans-serif;
        font-size: 1.25rem; 
        a {
            text-decoration: none;
        }
    }
}

button {
    background-color: transparent;
    border: 2px solid $color__brand-color;
    box-shadow: none;
    color: $color__brand-color;
    font-size: 1rem;
    text-shadow: none;
    padding: 0.75rem 2.25rem;
    &:focus {
        outline: 0;
      }
    @include tablet {
        font-size: 1.25rem;
    }
    @include desktop {
        display: block;
        margin: 0 auto;
    }
    &:hover {
        border: 2px solid $color__link-hover;
        box-shadow: none;
        color: $color__link-hover; 
    }
}

.site-content {
    padding-bottom: 72px;
    @include desktop {
        margin: 4.5rem 3.15rem 1.5rem;
        padding-bottom: 64px;
    }
}

.quote-container {
    @include desktop {
        display: flex;
    }
}

i.fas.fa-quote-left, i.fas.fa-quote-right {
    display: none;
    @include desktop {
        display: flex;
        color: $color__brand-color;
        font-size: 125px;
        padding-top: 4rem;
    }
}

/* About Page */

.about {
    h1 {
        padding-top: 1.25rem;
        font-weight: normal;
        @include desktop {
            padding-top: 0;
            margin-top: 0;
        }
    }
    .about-p {
        padding-bottom: 1.4rem;
    }
    p {
        padding-top: 2px;
        padding-bottom: 0;
        font-size: 1rem;
    }
    img {
        width: 1rem;
        height: auto;
        display: inline;
    }
    a {
        text-decoration: none;
    }
}

/* All Archives Page */

.archives {
    h1 {
        padding-top: 1.25rem;
        padding-bottom: 1.2rem;
        font-weight: normal;
        @include desktop {
            padding-top: 0;
            margin-top: 0;
        }
    }
    h2{
        font-weight: normal;  
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        padding-bottom: 1.5rem;
        .wp-tag-cloud {
            padding-bottom: 0;
        }
        li{
            list-style: none;
            padding-bottom: 0.5rem;
            padding-right: 18px;
            @include tablet {
                font-size: 1.25rem;
            }
            a{
                text-decoration: none;
                font-family: 'Exo-Light', sans-serif;
            }
        }
    } 
    @include tablet {
        .tag-archives ul ul.wp-tag-cloud li a.tag-cloud-link {
            font-size: 1.25rem !important;
        } 
    } 
}

.archive-footer {
    padding-bottom: 3rem;
    @include desktop {
        padding-bottom: 4.75rem;
    }
}

/* Single Quote Page */

.single-post .entry-content p {
    padding-top: 17px;
    @include tablet {
        padding-top: 21px;
    }
    @include desktop {
        padding-top: 0;
    }
}

/* Category and Tag page */

.category-tag {
    header {
        padding-top: 1.25rem;
        padding-bottom: 0.15rem;
        border-bottom: $border__dashed;
        @include desktop {
            padding-top: 0;
        }
        h1 {
            font-weight: normal;
            @include desktop {
                margin-top: 0;
            }
        }
    }
    .entry-content p{
        padding-top: 1.5rem;
        @include tablet {
            padding-top: 1.75rem;
            @include desktop {
                padding-top: 2.5rem;
            }
        }
    }
    .entry-meta {
        border-bottom: $border__dashed;  
    }
    nav {
        margin-bottom: 0;
        padding-top: 3rem;
        span {
            padding-right: 0.5rem;
            font-family: 'Exo-Light', sans-serif;  
        }
        a {
            text-decoration: none;
            font-family: 'Exo-Light', sans-serif;
            padding-right: 0.5rem;
        }
    }
}

.category-tag-content {
    padding-bottom: 72px;
    @include desktop {
        padding-bottom: 64px;
    }
}

/* Submit a Quote Page */

.quote-submission {
    header {
        padding-top: 20px;
        @include tablet {
            padding-top: 19px;
        }
        @include desktop {
            padding-top: 0;
        }
        h1 {
            font-weight: normal;
            margin-bottom: 21px;
            @include desktop {
                margin-top: 0;
            }
        }
    }
    p {
        font-family: 'Exo-Light', sans-serif;
        margin-top: 0;
        @include tablet {
            padding-top: 1px;
            margin-bottom: 23px;
        }
        a {
            text-decoration: none;
        }
    }
    p.login {
        margin-bottom: 0;
    }
    label {
        font-family: 'Exo-Light', sans-serif;
        display: block;
        padding-bottom: 0.8rem;
    }
    input, textarea {
        display: block;
        background-color: transparent;
        color: $color__text-main;
        border: 2px solid $color__brand-color;
        font-family: 'Exo-Light', sans-serif;
        &:hover {
            border: 2px solid $color__link-hover;  
        }
        &:focus {
            outline: 0;
            color: $color__text-main;
            border: 2px solid $color__text-main;
        }
    }
    input {
        width: 65%;
        @include tablet {
            height: 2.5rem;
        }
        @include desktop {
            width: 60%
        }
    }
    textarea {
        height: 6.25rem;
    }
    .label-input {
        padding-bottom: 1.5rem;
    }
    .submit-button {
        width: auto;
        font-size: 1rem;
        padding: 0.75rem 2rem;
        background-color: transparent;
        color: $color__brand-color;
        &:hover {
            color: $color__link-hover;
        }
        &:focus {
            outline: 0;
            color: $color__link-hover;
            border: 2px solid $color__link-hover;
        }
        @include tablet {
            font-size: 1.25rem;
            height: auto;
        }
    }
}

/* 404 Page */

.error-404 {
    padding-bottom: 2.25rem;
    h1 {
        font-weight: normal;
        margin-top: 0.9rem;
        margin-bottom: 1.5rem;
        @include desktop {
            margin-top: 0;
        }
    }
    p {
        font-family: 'Exo-Light', sans-serif;
    }
    fieldset {
        border: none;
        margin: 0;
        padding: 0;
        input {
            border: 2px solid $color__brand-color;
            background-color: transparent;
            color: $color__text-main;
            padding: .25rem .5rem;
            width: 240px;
            font-family: 'Exo-Light', sans-serif;
            @include tablet {
                font-size: 1.25rem;
            }
        }
    }
    button {
        border: 0;
        padding: 0;
        @include desktop {
            display: inline;
        }
        i {
            padding-left: 0.5rem;
        }
    }
}
