/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Home Page */

.entry-content p, .entry-meta h2 {
    font-family: 'Exo-Light', sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}
.entry-content p {
    padding-top: 41px;
    padding-bottom: 24px;
    @include tablet {
        font-size: 1.75rem;
    }
    @include desktop {
        font-size: 2.5rem;
        padding-top: 0;
    }
}

.entry-meta {
    flex-wrap: wrap;
    padding-bottom: 3rem;
    h2 {
        display: inline;
    }
    span.source {
        font-family: 'Exo-LightItalic', sans-serif;
        font-size: 1.25rem; 
        a {
            text-decoration: none;
        }
    }
}

button {
    background-color: transparent;
    border: 2px solid $color__brand-color;
    box-shadow: none;
    color: $color__brand-color;
    font-size: 1rem;
    text-shadow: none;
    padding: 0.75rem 2.25rem;
    @include tablet {
        font-size: 1.25rem;
    }
    @include desktop {
        display: block;
        margin: 0 auto;
    }
    &:hover {
        border: 2px solid $color__link-hover;
        box-shadow: none;
        color: $color__link-hover; 
    }
}

.site-content {
    padding-bottom: 72px;
    @include desktop {
        margin: 4.5rem 3.15rem 1.5rem;
        padding-bottom: 64px;
    }
}

.quote-container {
    @include desktop {
        display: flex;
    }
}

i.fas.fa-quote-left, i.fas.fa-quote-right {
    display: none;
    @include desktop {
        display: flex;
        color: $color__brand-color;
        font-size: 125px;
        padding-top: 4rem;
    }
}

/* About Page */

.about {
    h1 {
        padding-top: 1.25rem;
        font-weight: normal;
        @include desktop {
            padding-top: 0;
            margin-top: 0;
        }
    }
    .about-p {
        padding-bottom: 1.4rem;
    }
    p {
        padding-top: 2px;
        padding-bottom: 0;
        font-size: 1rem;
    }
    img {
        width: 1rem;
        height: auto;
        display: inline;
    }
    a {
        text-decoration: none;
    }
}

/* All Archives Page */

/* Submit a Quote Page */
