// Structure

$base__space-unit: 1.5rem;
$border__dashed: 1px dotted #ffffff;
$border__solid: 1px solid #ffffff;

// Colors

$color__background-body: #222222;
$color__text-main: #ffffff;
$color__brand-color: #00cc00;
$color__link: #00cc00;
$color__link-visited:#00cc00;
$color__link-hover: #018301;

// Typography

$font__main: 'Exo', sans-serif;
$font__size: 16px;
$font__line-height-body: 1.5;

//Media Widths

$tablet-width: 620px;
$desktop-width: 1080px;
